
fastapi
uvicorn[standard]
pydantic-settings


SQLAlchemy[asyncio]
asyncpg
alembic


redis[asyncio]


python-jose[cryptography]
passlib[bcrypt]
pyotp
cryptography


websockets


aio-pika


pydantic[email]
python-multipart
httpx


pytest
pytest-asyncio